<div class="container" *ngIf="questions$ | async as questions">
    <table class="container-table" mat-table [dataSource]="questions" *ngIf="!this.addFlag">
        <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.issue_title}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.issue_description}} </td>
        </ng-container>
        <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef> Brand - Model </th>
            <td mat-cell *matCellDef="let element"> {{element.issue_conditions?.brand}} - {{element.issue_conditions?.model}}</td>
        </ng-container>
        <ng-container matColumnDef="conditions">
        <th mat-header-cell *matHeaderCellDef> Condition </th>
        <td mat-cell *matCellDef="let element">Miles: {{element.issue_conditions?.miles?.value}} {{element.issue_conditions?.miles?.operator}}
            <br> Year: {{element.issue_conditions?.year?.value}} {{element.issue_conditions?.year?.operator}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="questions.length === 0">
        <span>No data to display</span>
    </div>
</div>