<div class="form-container">
    <form [formGroup]="this.form">
        <mat-horizontal-stepper [linear]="false" #matStepper>
            <mat-step *ngFor="let step of steps; let index = index; let last = last;">
                <ng-template matStepLabel>{{ step.label }}</ng-template>
                <formly-form class="grid-formly" [form]="form.at(index)" [model]="model" [fields]="step.fields" [options]="options[index]">
                </formly-form>
                <div>
                    <button *ngIf="index !== 0" mat-raised-button color="accent" type="button"
                        (click)="prevStep(matStepper)">Back</button>
                    <button *ngIf="!last" class="save-button" mat-raised-button color="primary" class="btn btn-primary" type="button"
                    [disabled]="!form.at(index).valid" (click)="nextStep(matStepper)">Next</button>
                    <button *ngIf="last" class="save-button" mat-raised-button color="primary" type="submit" 
                    [disabled]="!form.valid" color="primary" (click)="this.addQuestion()">Save</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </form>
</div>